.nav-style{
    background-color: rgba(68, 35, 4, 0.623);
}
body{
    background-color: rgb(250, 250, 250);
}
.margin-bottom{
    margin-bottom:100px ;
}
.nav-bar .nav-underline:hover{

    border-bottom:  3px solid rgb(10, 8, 1);
}